---
import '../styles/global.css'
---

<html lang="en" class="bg-gray-50 antialiased">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>CodeInbox</title>
</head>
<body>
  <slot />
</body>
</html>
